version: "3.9"

x-bot-base: &bot-base
  init: true
  restart: on-failure:3

services:
  apex_map_bot:
    <<: *bot-base
    container_name: apex-map-bot
    build:
      context: .
      dockerfile: Dockerfile
      args:
        APP_DIR: apex
    environment:
      - DISCORD_BOT_TOKEN=${DISCORD_BOT_TOKEN_MAP}
      - APEX_API_KEY=${APEX_API_KEY}

  apex_player_daan:
    <<: *bot-base
    container_name: apex-player-daan
    build:
      context: .
      dockerfile: Dockerfile
      args:
        APP_DIR: apex_player
    environment:
      - DISCORD_BOT_TOKEN=${DISCORD_BOT_TOKEN_DAAN}
      - APEX_API_KEY=${APEX_API_KEY}
      - PLAYER_UID=${PLAYER_UID_DAAN}
      - STARTUP_DELAY=3
    depends_on:
      - apex_map_bot

  apex_player_eben:
    <<: *bot-base
    container_name: apex-player-eben
    build:
      context: .
      dockerfile: Dockerfile
      args:
        APP_DIR: apex_player
    environment:
      - DISCORD_BOT_TOKEN=${DISCORD_BOT_TOKEN_EBEN}
      - APEX_API_KEY=${APEX_API_KEY}
      - PLAYER_UID=${PLAYER_UID_EBEN}
      - STARTUP_DELAY=6
    depends_on:
      - apex_player_daan

  apex_player_nino:
    <<: *bot-base
    container_name: apex-player-nino
    build:
      context: .
      dockerfile: Dockerfile
      args:
        APP_DIR: apex_player
    environment:
      - DISCORD_BOT_TOKEN=${DISCORD_BOT_TOKEN_NINO}
      - APEX_API_KEY=${APEX_API_KEY}
      - PLAYER_UID=${PLAYER_UID_NINO}
      - STARTUP_DELAY=9
    depends_on:
      - apex_player_eben