version: "3.9"

x-bot-base: &bot-base
  init: true
  restart: unless-stopped

services:
  apex_map_bot:
    <<: *bot-base
    container_name: apex-map-bot
    build:
      context: .
      dockerfile: Dockerfile
      args:
        APP_DIR: apex
    environment:
      STARTUP_DELAY: "0"
      DISCORD_BOT_TOKEN: ${DISCORD_BOT_TOKEN_MAP}
      APEX_API_KEY: ${APEX_API_KEY}

  apex_daan_bot:
    <<: *bot-base
    container_name: apex-daan-bot
    build:
      context: .
      dockerfile: Dockerfile
      args:
        APP_DIR: apex_daan
    environment:
      STARTUP_DELAY: "10"
      DISCORD_BOT_TOKEN: ${DISCORD_BOT_TOKEN_DAAN}
      APEX_API_KEY: ${APEX_API_KEY}
      PLAYER_UID: ${PLAYER_UID_DAAN}

  apex_eben_bot:
    <<: *bot-base
    container_name: apex-eben-bot
    build:
      context: .
      dockerfile: Dockerfile
      args:
        APP_DIR: apex_eben
    environment:
      STARTUP_DELAY: "20"
      DISCORD_BOT_TOKEN: ${DISCORD_BOT_TOKEN_EBEN}
      APEX_API_KEY: ${APEX_API_KEY}
      PLAYER_UID: ${PLAYER_UID_EBEN}

  apex_nino_bot:
    <<: *bot-base
    container_name: apex-nino-bot
    build:
      context: .
      dockerfile: Dockerfile
      args:
        APP_DIR: apex_nino
    environment:
      STARTUP_DELAY: "30"
      DISCORD_BOT_TOKEN: ${DISCORD_BOT_TOKEN_NINO}
      APEX_API_KEY: ${APEX_API_KEY}
      PLAYER_UID: ${PLAYER_UID_NINO}
