version: "3.9"

x-bot-base: &bot-base
  init: true
  restart: on-failure:3

services:
  apex_map_bot:
    <<: *bot-base
    container_name: apex-map-bot
    build:
      context: .
      dockerfile: Dockerfile
      args:
        APP_DIR: apex
    environment:
      - DISCORD_BOT_TOKEN=${DISCORD_BOT_TOKEN_MAP}
      - APEX_API_KEY=${APEX_API_KEY}

  apex_players:
    <<: *bot-base
    container_name: apex-players
    build:
      context: .
      dockerfile: Dockerfile
      args:
        APP_DIR: apex_player
    environment:
      - APEX_API_KEY=${APEX_API_KEY}
      # Player configurations
      - DISCORD_BOT_TOKEN_DAAN=${DISCORD_BOT_TOKEN_DAAN}
      - PLAYER_UID_DAAN=${PLAYER_UID_DAAN}
      - STARTUP_DELAY_DAAN=3
      - DISCORD_BOT_TOKEN_EBEN=${DISCORD_BOT_TOKEN_EBEN}
      - PLAYER_UID_EBEN=${PLAYER_UID_EBEN}
      - STARTUP_DELAY_EBEN=6
      - DISCORD_BOT_TOKEN_NINO=${DISCORD_BOT_TOKEN_NINO}
      - PLAYER_UID_NINO=${PLAYER_UID_NINO}
      - STARTUP_DELAY_NINO=9
    depends_on:
      - apex_map_bot
